<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>JoansTeaTrolly.Controllers.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemsContoller</servlet-name>
        <servlet-class>JoansTeaTrolly.Controllers.ItemsContoller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientsController</servlet-name>
        <servlet-class>JoansTeaTrolly.Controllers.ClientsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdersController</servlet-name>
        <servlet-class>JoansTeaTrolly.Controllers.OrdersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdersController</servlet-name>
        <url-pattern>/orders/removeordersforclient</url-pattern>
        <url-pattern>/orders/addtoorder</url-pattern>
        <url-pattern>/orders/create</url-pattern>
        <url-pattern>/orders/removeorder</url-pattern>
        <url-pattern>/orders</url-pattern>
        <url-pattern>/orders/saveorders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientsController</servlet-name>
        <url-pattern>/clients/getallclients</url-pattern>
        <url-pattern>/clients/addclient</url-pattern>
        <url-pattern>/clients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemsContoller</servlet-name>
        <url-pattern>/items/getallitems</url-pattern>
        <url-pattern>/items</url-pattern>
        <url-pattern>/items/edit/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>DatabaseUri</param-name>
        <param-value>jdbc:mysql://localhost/cas</param-value>
    </context-param>
    <context-param>
        <param-name>DatabaseUser</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>DatabasePassword</param-name>
        <param-value></param-value>
    </context-param>
</web-app>
